<table class="profile" summary = "Profile information">
	<tr><%= gravatar_for @user %>  <%= @user.name %>
		<td class="main">
			 

			 
				 <%=  link_to image_tag("logo.jpg", :alt => "Payment App", :class => "round", :style => "width:400px;height:210px"), 
	 	         root_path
	 	         %>
			
		</td>

		<td class="sidebar round">
			<h3>Customer Details</h3>
			<strong>Name</strong> <%= @user.name %><br />
			<strong>Items bought</strong> <%= @user.name %><br />
			<strong>Amount paid</strong> <%= @user.name %><br />
			<strong>Outstanding amount</strong> <%= @user.name %><br />
		
		</td>
	</tr>
</table> 