<% provide(:title, 'All Items') %>
<div class="row">

  <div class="span6 offset3">
  	<h1>Add new item</h1>
  	<p style = "color:grey;"> After you have entered item details, you can easily view and edit them.</p>
    <%= form_for(@item) do |f| %>
    <%= render 'shared/error_messagesitem' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :category %>
      <%= f.text_field :category %>

      <%= f.label :price %> 
      <%= f.text_field :price %>

      <%= f.submit "Create a new item", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>