<header>

	<%= link_to logo, root_path %>
	 <%=  link_to image_tag("logo.jpg", :alt => "Payment App", :class => "round", :style => "width:225px;height:70px"), 
	 	  root_path
	  %>

			  <nav class ="round">
			    <ul>
			      <li><%= link_to "Home", root_path %></li>
			      <li><%= link_to "Help", help_path %></li>
			      <li><%= link_to "Sign in", '#' %></li>
			    </ul>
			  </nav>
</header> 